*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    white-space: nowrap;
    font-size: 0px; 
    background-color:black;
    width:100vw;
    height: 100vh;
}

.findConversation{
    font-size:14px;
    font-weight: 500;
    padding: 1px 4px;
    border:0px;
    border-radius:4px;
    background:#202225;
    width:220px;
    height: 28px;
    color: #A3A6AA;
    text-align: left;
    line-height: 24px;
    cursor:pointer;
}

.sideNav{
    display:inline-block;
    background: #202225;
    position:relative;
    width:72px;
    height: 100%;
    
}
.groupButton{

    width:72px;
    height:48px;
    margin-bottom:8px;
}
.groupButton:nth-child(1){
    margin-top:8px;
}
.groupButton:nth-child(2){
    border-top:1px solid gray;
}
.circle{
    width:30px;
    height:30px;
    border-radius:180px;
    background:black;
}
.personSelector{
    background: #2F3136;
    display:inline-block;
    position:relative;
    width:240px;
    height: 100%;
    top:0;
    
} 
.personSelector nav{
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    border-bottom: 1px solid black;
    width: 100%;
    height:50px;
    z-index:1;
}

.mainSection{
    display:inline-block;
    position:relative;
    background:#36393e;
    height: 100%;
    width: calc(100% - 312px);
} 

.mainSection nav{
    position:absolute;
    border-bottom: 1px solid black;
    width: calc(100% - 0px);
    height:50px;
    background:#36393e;
    z-index:1;
}

.mainSection section{
    position:absolute;
    width: calc(100% - 350px);
    height:100%;
    background:#36393e;
} 

.message{
    position:absolute;
    bottom:0;
    left:20px;
    bottom:20px;
    width: calc(100% - 30px);
    height:40px;
    background:#424549;
    border-radius:5px;
}

.mainSection aside{
    position:fixed;
    right:0;
    width:340px;
    height: 100%;
    background:#1e2124;
    z-index:0;
}
.personSelector footer{
    background: #292B2F;
    height:55px;
    width:100%;
    position:absolute;
    bottom:0px;
}


@media(max-width: 1000px){
    .mainSection aside{
        display:none;
    }
    .message{
        width: calc(100% + 320px);
    }
}