*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif, Arial;
}


body{
    display:flex;
    white-space: nowrap;
    font-size: 0px; 
    background-color:black;
    width:100vw;
    height: 100vh;
}

.findConversation{
    font-size:13px;
    font-weight: 500;
    padding: 1px 4px;
    border:0px;
    border-radius:4px;
    background:#202225;
    width:220px;
    height: 28px;
    color: #A3A6AA;
    text-align: left;
    line-height: 24px;
    cursor:pointer;
    
}

.sideNav{
    overflow:hidden;
    display:inline-block;
    background: #202225;
    position:relative;
    width:72px;
    height: 100%;
    
    
}
.sideNav .groupButton > .selected{
    position:absolute;
    width: 5px;
    height: 40px;
    border-radius:40px;
    left:0px;
    background:white;
    transition: height 200ms ease-in-out;
}
.sideNav .groupButton > span{
    height: 0px;
    transition: height 200ms ease-in-out;
}

.sideNav .groupButton .circle:hover + span{
    position:absolute;
    width: 5px;
    height: 15px;
    border-radius:40px;
    left:0px;
    background:white;
}



.sideNav .groupButton .circle{
    box-sizing: border-box;
    overflow: hidden;

}

.sideNav .groupButton .circle img{
    width: 100%;
    height: 100%;
}

.groupButton{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%;
    height:48px;
    margin-bottom:8px;
}
.groupButton:nth-child(1){
    margin-top:8px;
    
}

.circle{
    width:48px;
    height:48px;
    border-radius:180px;
    transition: border-radius 200ms ease-in-out; 
    background:black;
}
.circle:hover{
    border-radius:12px;
}
.personSelector{
    
    background: #2F3136;
    display:flex;
    flex-direction: column;
    width:240px;
    height: 100%;
    top:0;
    
} 
.personSelector nav{
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    height:54px;
    z-index:1;
}

.mainSection{
    
    display:flex;
    flex-direction:column;
    background:#36393e;
    height: 100%;
    width: calc(100% - 312px);
} 

.mainSection nav{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    border-bottom: 1px solid black;
    width: 100%;
    height:50px;
    background:#36393e;
    z-index:1;
}
.mainSection nav .nav-title{

    margin-left:20px;
    display: flex;
    align-items: center;
    font-size:12px;
    color:#FFFFFF;
    height: 100%;
    width:100px;
    font-size:18px;

    
}
.mainSection nav .nav-title p:nth-child(1){
    font-size:20px;
    color:#8E9297;
    margin-right: 3px;
    
}
.mainSection nav .nav-buttons{
    margin-left:20px;
    display: flex;
    align-items: center;
    font-size:12px;
    color:#FFFFFF;
    height: 100%;
    font-size:18px;

    
}

.mainSection nav .nav-buttons input{
    display:block;
    width:120px;
    height:24px;
    background:#202225;
    border:0;
    border-radius:3px;
    outline:0;
    color:#A3A6AA;
    position:relative;
}
.mainSection nav .nav-buttons input::placeholder{

    color:#A3A6AA;
    
}
.mainSection nav .nav-buttons i{
    display:block;
    font-size:25px;
    margin:0px 12px;
    cursor:pointer;
}



.mainSection section{
    
    
    width: calc(100% - 340px);
    height:calc(100% - 50px);
    background:#36393e;
} 


.chat{
    
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-color: #202225 #2F3136;
    width:100%;
    height: calc(100% - 80px);

}
.chat .linesGroup {
    font-size:16px;
    margin-bottom:10px;
}

.chat .linesGroup .firstline{

    display: flex;

}
.chat .linesGroup .firstline:hover{
    background:#32353B;
}
.chat .linesGroup .line:hover{
    background:#32353B;
}
.chat .linesGroup .firstline .circleLinesGroup{
    margin-left:10px;
    margin-right:10px;
    width:36px;
    height:36px;
    border-radius:180px;
    transition: border-radius 200ms ease-in-out; 
    background:black;
    display: flex;
    overflow:hidden;

}
.chat .linesGroup .firstline .circleLinesGroup + .msg p:nth-child(1){
    color:#FFFFFF;
}
.chat .linesGroup .firstline .circleLinesGroup + .msg p:nth-child(1) > span{
    color:#ADAFB1;
    font-size:13px;
}
.chat .linesGroup .firstline .circleLinesGroup + .msg p:nth-child(2){
    margin-top:4px;
    color:#DCDDDE;
    font-size:16px;
    margin-bottom: 4px;
}
.chat .linesGroup .line .msg p{
    margin-top:4px;
    color:#DCDDDE;
    font-size:16px;
    margin-bottom: 4px;
}
.chat .linesGroup .line .time{ 
    overflow:hidden;
    font-size:11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#878A8E;
    margin:0 6px;
    width:44px;
}
.chat .linesGroup .line .time p{ 
    display:none;
}
.chat .linesGroup .line:hover .time p{ 
    display:block;
}




.chat .linesGroup .line {

    display: flex;
    

}

.chat .linesGroup .firstline .circleLinesGroup img{

    width:100%;
    height:100%;


}


.chat-box{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.chat-input{
    

    width: calc(100% - 20px);
    height:40px;
    background:#424549;
    border-radius:5px;
}

.mainSection aside{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    top:50px;
    right:0;
    width:340px;
    height: 100%;
    background:#292B2F;
    z-index:10;
}
.mainSection aside .banner{
    
    background: #937D66;
    width:100%;
    height: 120px;
    
}
.mainSection aside .imageContainer{
    position:absolute;
    overflow:hidden;
    border-radius:180px;
    border:6px solid #1E2124;
    top:68px;
    left:12px;
    background: red;
    width:90px;
    height:90px;
    box-sizing: border-box;
    
}
.mainSection aside .imageContainer img{
    width:100%;
    height: 100%;
    
}
.mainSection aside .details{

    margin-top:60px;
    padding-left:10px;
    width:90%;
    height: 190px;
    background:#18191C;
    border-radius:8px;
}
.mainSection aside .details .username{
    margin-top:5px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 95%;
    border-bottom: 1px solid #424549;
    
}
.mainSection aside .details .username p{
    color: white;
    font-size:20px;
    font-weight: bold;
}
.mainSection aside .details .username p span{
    color: #B9BBBE;
}
.mainSection aside .memberSince{
    border-bottom:1px solid #424549;
    width: 95%;
    
}
.mainSection aside .memberSince p:nth-child(1){
    margin:15px 0;
    color: white;
    font-weight: bold;
    font-size:11px;
}
.mainSection aside .memberSince p:nth-child(2){
    color: #B9BBBE;
    font-size:14px;
    margin-bottom:10px;
}
.mainSection aside .note{
    
    width: 95%;
}
.mainSection aside .note p:nth-child(1){
    margin:15px 0;
    color: white;
    font-weight: bold;
    font-size:11px;
}
.mainSection aside .note p:nth-child(2){
    color: #B9BBBE;
    font-size:14px;
    margin-bottom:10px;
}
.mainSection aside .socialRelations {
    display:flex;

    width: 95%;
    justify-content: space-around;
    flex-direction:column;
    color: #B9BBBE;
    font-size:14px;
    margin-bottom:10px;
}
.mainSection aside .socialRelations div{
    
    height: 160px;
}
.mainSection aside .socialRelations div:nth-child(1){
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    color: #B9BBBE;
    font-size:14px;
    margin-bottom:20px;
    width: 95%;
    border-bottom:1px solid #424549;
}




.mainSection aside .socialRelations{
    margin-top:20px;
    padding-left:10px;
    width:90%;
    height: 94px;
    background:#18191C;
    border-radius:8px;
}



.personSelector section{
    
    display:flex;
    overflow-y: scroll;
    scrollbar-color: #202225 #2F3136;
    align-items: center;
    flex-direction: column;
    height:calc(100% - 50px);
}
.personSelector section i{
    
    font-size: 25px;

}

.personSelector section > div{
    display:flex;
    align-items:center;
    font-size:15px;
    font-weight: bold;
    width:90%;
    height:40px;
    min-height: 40px;
    margin-top:1px;
    margin-bottom:1px;
    border-radius:3px;
    z-index:100;
    color: #ADAFB1;
    padding-left:10px;
}
.personSelector section div:nth-child(1){
    margin-top:11px;
}
.personSelector section .DirectMessages{
    font-size:11px;
    margin-top:7px;
    position:relative;
}
.personSelector section .DirectMessages:hover{
    background:none;
    color:white;
}
.personSelector section .DirectMessages i{
    position: absolute;
    right: 10px;
    color:#696B6E;
}
.personSelector section .friend{
    display: flex;
    align-items: center;
    position:relative;
}
.personSelector section .friend i{
    display:none;

}
.personSelector section .friend:hover i:hover{
    color: #ADAFB1;
    
}
.personSelector section .friend:hover i{
    display: inline;
    position: absolute;
    right: 10px;
    color:#696B6E;

}

.friend .avatar{
    overflow: hidden;
    position: relative;
    width:30px;
    height:30px;
    bottom:7px;
    right:5px;
    margin-right: 4px;
    border-radius:180px;
    background:white;
    box-sizing: border-box;
}
.friend .avatar img{
    height: 100%;
    width:100%;
    box-sizing: border-box;
}

/* .personSelector section .friend i:hover{
    display:none;
} */
.personSelector section div p{
    position:relative;
    left:10px;
}

.personSelector section > div:hover{
    background: #424549;
}




.personSelector footer{
    font-size: 23px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #292B2F;
    height:55px;
    width:100%;
    bottom:0px;
    z-index:100;
}
.personSelector footer .profile{
    display:flex;
    align-items: center;
    margin-left:8px;
    width:120px ;
    height: 39px;
    border-radius:4px;
    font-size:13px;
}
.personSelector footer .profile .usernameCodes{
    margin-left:10px;
}
.personSelector footer .profile .usernameCodes p:nth-child(1){
    color:white;
    font-weight: bold;
}
.personSelector footer .profile .usernameCodes p:nth-child(2){
    color:#D4D5D6;
    margin-top:2px;
    font-size:11px;
}

.personSelector footer .profile:hover{

    background:  #424549;
    
}
.personSelector footer .profile:hover{

    background:  #424549;
    
}
.personSelector footer .optionButtons{
    color:#9C9EA1;
    margin-right: 14px;
    display:flex;
    
    
}
.personSelector footer .optionButtons .option{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.personSelector footer .optionButtons .option:hover{

    background:  #424549;
    border-radius:4px;
}

.profile .avatar{
    width:32px;
    height:32px;
    border-radius:180px;
    background:white;
}

.active-inline{
    display:"inline";
}

.pointer{
    cursor:pointer;
}

@media(max-width: 1000px){
    .mainSection aside{
        display:none;
    }
    .chat-input{
        width: calc(100% + 320px);
    }
}