*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    white-space: nowrap;
    font-size: 0px; 
    background-color:blue;
    width:100vw;
    height: 100vh;
}


.sideNav{
    display:inline-block;
    background: #1e2124;
    position:relative;
    width:70px;
    height: 100%;
    
}
.personSelector{
    background: #282b30;
    display:inline-block;
    position:relative;
    width:242px;
    height: 100%;
    top:0;
    
} 

.mainSection{
    display:inline-block;
    position:relative;
    background:#36393e;
    height: 100%;
    width: calc(100% - 312px);
} 

.mainSection nav{
    position:absolute;
    border-bottom: 1px solid black;
    width: calc(100% - 0px);
    height:50px;
    background:#36393e;
    z-index:1;
}

.mainSection section{
    position:absolute;
    width: calc(100% - 350px);
    height:100%;
    background:#36393e;
} 

.message{
    position:absolute;
    bottom:0;
    left:20px;
    bottom:10px;
    width: calc(100% - 30px);
    height:30px;
    background:#424549;
    border-radius:5px;
}

.mainSection aside{
    position:fixed;
    right:0;
    width:350px;
    height: 100%;
    background:#1e2124;
    z-index:0;
}



@media(max-width: 1000px){
    .mainSection aside{
        display:none;
    }
    .message{
        width: calc(100% + 320px);
    }
}